1) Immutable objects

- can be published through any mechanism

- can be used safely by any thread without additional synchronization

2) Effectively immutable objects

- must be safely published

- can be used safely by any thread without additional synchronization

3) Mutable objects

- must be safely published to ensure visibility of the as-published state

- synchronization must be used every time the object is accessed to ensure visibility of subsequent modifications

- must be either thread-safe or guarded by a lock in order to be shared safely
